@import url("./font.css");
@import url("./nav.css");

body {
    font-family: 'ekcqw_gbkregular';
    background-color: #525252;
    margin: 0;
    overflow: hidden;
    transition: 0.5s ease;
    display: flex;
}

main {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    overflow: hidden;
}
