@import url("./font.css");
@import url("./nav.css");

body {
    font-family: 'ekcqw_gbkregular';
    background-color: #525252;
    margin: 0;
    overflow: hidden;
    transition: 0.5s ease;
    display: flex;
}

header {
    display: flex;
    gap: 5px;
    align-items: center;

    background-color: #313131;
    height: 50px;
    width: 100%;
    color: #fff;
    margin: 0;
    padding-left: 10px;
}

footer {
   position: fixed;
   right: 0;
   bottom: 0;
   width: max-content;
   padding: 8px;
   background-color: #313131;
   color: white;
}

.container {
    width: 100%;
}
