.nolist {
    list-style-type:none;
}

ul.pagenav > li {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 20px;
    padding: 10px;
    cursor: pointer;

    > a {
        color: #fff;
        text-decoration: none;
    }
}

#buttonNav {
    cursor: pointer;
    font-size: 20px;
}

.sidenav {
    color: #fff;
    background-color: #313131;

    width: 0px;
    height: 100vh;
    overflow-x: hidden;

    transition: width 0.5s ease;

    &.open {
        width: 250px;
    }
}

.main-container {
    width: 100%;
    height: 100%;
}

.main-title {
    width: auto;
    text-align: center;
    font-size: 25px;
    color: white;
}

.main-subtitle * {
    color: white;
    text-align: center;
}
