@import url("./scrollbar.css");

#l2dv3-setting {
    position: fixed;
    right: -410px;

    width: 400px;
    height: 100vh;
    padding-top: 10px;
    padding-left: 10px;

    color: #fff;
    background-color: #313131;

    transition: all 0.5s ease;

    &:hover {
        right: 0;
    }

    &::before {
        content: "\2699";

        position: absolute;
        top: 10px;
        left: -30px;

        display: block;
        height: 30px;
        width: 30px;

        font-size: 30px;
        text-align: center;
        line-height: 30px;

        cursor: pointer;
        color: white;
        float: right;
        transition: all 0.5s ease;
    }
}

#subtitle {
    position: absolute;
    left: 50%;
    bottom: 40px;
    z-index: -1;
    transform: translateX(-50%);

    width: auto;
    margin: 0 auto;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.4);

    text-align: center;
    font-family: 'ekcqw_gbkregular';
    text-shadow: 2px 2px 6px black;
    color: white;
    font-size: 30px;

    opacity: 0;
    transition: opacity 0.3s ease, z-index 0.5s ease 0.3s;

    &.no-furi {
        rt {
            display: none;
        }
    }

    &.show {
        transition: opacity 0.3s ease;
        opacity: 1;
        z-index: 0;
    }
}

@media only screen and (max-device-width: 768px) {
    #subtitle {
        bottom: 80px;
    }
}

.bgSelectorContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    left: 0;
    top: 0;
    position: fixed;

    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease, z-index 0.5s ease 0.3s;

    &.show {
        transition: opacity 0.3s ease;
        opacity: 1;
        z-index: 1;
    }
}

.bgSelectorUI {
    width: 88vw;
    height: 88vh;
    background-color: #313131;
    color: #fff;
    display: grid;
    padding: 0.25rem 0;
    border-radius: 0.5rem;
}

#bgSelectorCloseButton {
    margin-right: 10px;
    cursor: pointer;
}

.bgCategoryContainer {
    height: 30px;
    display: table;
    width: 100%;

    input[type="radio"] {
        display: none;
    }

    > label {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 50%;
        padding: 1rem;
        cursor: pointer;

        &:has(input[type="radio"]:checked) {
            background-color: #ca3e47;
        }
    }
}

.title {
    height: 30px;
    border-bottom: 1px solid #ca3e47;
    text-align: center;
    font-size: 20px;
    display: grid;
    grid-template-columns: auto 20px;
}

.selector {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: auto;
    margin-bottom: 0px;
    align-content: flex-start;
    justify-content: center;
}

.l2dv3-thumb {
    max-width: 25vw;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
    align-self: baseline;
}

.l2dv3-collapsible {
    display: block;
    line-height:0;
    height: 0;
    overflow: hidden;
    transition: height .3s
}

.l2dv3-collapsible-main {
    cursor:pointer;
}

.customButton {
    background-color: #ca3e47;
    border: 1px solid #ca3e47;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 5px 13px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #7a2a1d;

    &:hover {
        background-color: #ca3e47;
    }
}
