ul.pagenav {
    list-style-type: none;

    > li {
        margin-bottom: 5px;
        margin-top: 5px;
        padding-left: 20px;
        padding: 10px;
        cursor: pointer;

        &.selected {
            background: #ca3e47;
        }

        > a {
            color: #fff;
            text-decoration: none;
        }
    }
}

nav#side_nav {
    position: fixed;
    left: -250px;

    color: #fff;
    background-color: #313131;

    width: 250px;
    height: 100vh;

    transition: all 0.5s ease;

    &:hover {
        left: 0;
    }

    &::after {
        content: "";
        position: absolute;
        right: -5px;
        top: 0;
        bottom: 0;

        width: 5px;
        background-color: transparent;
    }

    > header {
        border-bottom: 1px solid gray;

        > div {
            text-align: center;
            margin: 1rem auto;
            width: 180px;
            padding: 0.5rem 1rem;
            border: 1px solid white;
            border-radius: 0.5rem;
        }
    }

    > footer {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        padding: 0.5rem 1rem;
        border-top: 1px solid gray;
    }
}

.main-container {
    width: 100%;
    height: 100%;
}

.main-title {
    width: auto;
    text-align: center;
    font-size: 25px;
    color: white;
}

.main-subtitle * {
    color: white;
    text-align: center;
}
